<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- bootstrap  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- nao precisa colocar a pasta public, porque automaticamente o express vai para a pasta public -->
  <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
  <!-- <script src='main.js'></script> -->

</head>